{% if paths.up is not null %}
    <a href="?fb_cp=/{{ paths.up }}" class="file-browser-up" data-fb-cp="{{ paths.up }}">
        {{ __("Up one directory") }}
    </a>
{% endif %}
<h1>{{ __("Files in ") ~ paths.current|default('/') }}</h1>
{% if files is empty %}
<p class="file-browser file-browser-empty-list">
{{ __("No files found") }}
</p>
{% else %}
<ul class="file-browser file-browser-list" data-fb-root="{{ paths.root }}">
    {% for file in files %}
    <li class="file-browser file-browser-{{ file.getType() }}">
        {% if file.type == 'file' %}
            {% set link = "/files/" ~ paths.current ~ '/' ~ file.relativePathname %}
        {% elseif file.type == 'dir' %}
            {% set link = "?fb_cp=" ~ paths.current ~ '/' ~ file.relativePathname %}
        {% endif %}

        <a class="file-browser file-browser-label" href="{{ link }}" {% if file.getType() == 'dir' %}data-fb-cp="{{ paths.current ~ '/' ~ file.relativePathname }}"{% endif %}>
            {% if file.getType() == 'file' %}
                <img src="{{ thumbnail(paths.root ~ '/' ~ paths.current ~ '/' ~ file.relativePathname, 48, 48) }}" />
            {% else %}
                <img src="{{ icons }}/folder.svg" width="48" height="48"/>
            {% endif %}
            {{ file.relativePathname }}
        </a>
    </li>
    {% endfor %}
</ul>
{% endif %}
